{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1
  },
  "plugins": ["jest"]
}
